* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   padding-top: 150px;
}
.result-input {
   display: flex;
   justify-content: center;
   align-items: center;
}
input {
   width: 300px;
   padding: 0 0.5rem;
   height: 60px;
   margin-bottom: 8px;
   border-radius: 8px;
   border: 0.5px solid #000;
   font-size: 2rem;
}
button {
   font-size: 18px;
   padding: 8px 1em;
   width: 70px;
   margin-bottom: 8px;
   border: none;
   background-color: rgb(87, 46, 46);
   color: #fff;
   border-radius: 8px;
   font-size: 1.5rem;
}
button:hover {
   background-color: rgb(3, 155, 243);
   cursor: pointer;
}
.width {
   width: 107px;
}
.width-all {
   width: 218px;
}
.calc-style {
   display: flex;
   justify-content: center;
   align-items: center;
}
.math-side {
   display: flex;
   flex-direction: column;
   margin-left: 1rem;
}
